<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Hello!</h1>
  </body>
</html>
=======
<h1>Welcome to the Movie Finder App!</h1>
>>>>>>> 2572d0ad96a2e473688b9a2bce80d5259377f64f
