

   <div class="welcome">
    <h1>Hello!</h1>
    <ul>
      <li><%= link_to "Login", 'login' %></a></li>
      <li><%= link_to "Signup", 'signup' %></a></li>
    </ul>
  </div>

<h1>Welcome to the Movie Finder App!</h1>
