<h1>TEST Enter an actors name here:</h1>

<%#= form_for @recommendation do |f| %>
  <%#= f.text_field :fullname %>
  <%#= f.submit "Submit" %>
<%# end %>


  <!-- <%#= f.label :title %><br> -->
  <%#= f.text_field :title %>


<%#= simple_form_for :actor_name, url: recommendation_path do |f| %>
 <%#= f.input :actor_name, as: :string %>
<%# end %>



<%#= form_tag do %>

<%# end %>





<!-- <div class="field"> -->
  <!-- <%#= f.label :actor_request %><br> -->
  <%#= f.text_field :actor_request, :placeholder => "input an actor or actress" %>
<!-- </div> -->
<!--  -->
