// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  // color: white;
}

table.my-movies {
  display: block;
  color: white;
}

div.my-movies {
  // background-image: image-url('background-main.jpeg');
  // background-repeat: no-repeat;
  // background-size: cover;
  color: white;
}

div.show-movie {
  // background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  // image-url('blue-reel.jpeg');
  // background-repeat: no-repeat;
  // background-size: cover;
}

div.show-movie p {
  color: white;
}

div.show-movie a {
  color: white;
}
