// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  height: 500px;
  color: white;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  image-url('background-main.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

section.user_movies li {
  color: white;
}

section.page-container h2 {
  color: white;
}

section.page-container {
  color: white;
}

// div.login {
//   position:absolute;
// }
