// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.row {
  // display: block;
  height: 100%;
  width: 100%;
  // color: white;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  image-url('background-main.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed;
}

section.user_movies li {
  color: white;
  // margin-top: 5px;
}

section.page-container h2 {
  // color: white;
}

// section.page-container {
//   // align-self: center;
//   color: white;
// }

#login-bkg {
  margin-top: 0px;
  margin-left: 0px;
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: image-url('homepage-main.jpeg');
  background-size: cover;
}

div.col-xs-9 {
  // margin-left: 0px;
  // margin-top: 75px;
  // align-self: center;
  color: white;
}

div.status {
  color: white;
}

div.navpull-right ul li {
  color: white;
}

section.user_movies a {
  color: white;
}
