// Place all the styles related to the xxx controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  border-color: red;
  border-style: solid;
  border-width: medium;
}

body.xxx {
  // background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  background-image: url('bw-reel.jpeg');
  background-repeat: no-repeat;
  position: fixed;
}
h1.xxx {
  color: red;
}
