// Place all the styles related to the xxx controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  border-color: red;
  border-style: solid;
  border-width: medium;
}

h1.xxx {
  color: red;
}
.rating {
  text-align: center;
}
